

.fa-solid {
    color: grey;
    }
    
    .fa-solid:hover {
    color:black
    }

    .fa-regular {
        color: grey;
        }
        
        .fa-regular:hover {
        color:black
        }

        